:root {
    --navColor: linear-gradient(75deg, #d45839, #c04b4b,#d45839, #c04b4b,#d45839, #c04b4b);
    --background: linear-gradient(to bottom right,rgba(228, 212, 212, 0.418), rgba(255, 255, 255, 0.788), rgba(226, 209, 209, 0.418),
    rgba(255, 255, 255, 0.788), rgba(223, 201, 201, 0.418), rgba(255, 255, 255, 0.788),rgba(209, 187, 187, 0.418), rgba(255, 255, 255, 0.788)
    ,rgba(223, 204, 204, 0.418), rgba(255, 255, 255, 0.788),rgba(219, 203, 203, 0.418), rgba(255, 255, 255, 0.788));;
    --box: linear-gradient(135deg,  #c24829c9, #7f1ce352);
}


.mainHeader {
    font-weight: bolder;
    color: cornsilk;
    font: 2em "Verdana"; 
    line-height: .5em;
    text-indent: 5%;
    grid-row: 1/2;
    grid-column: 1/2;
}

.invert_color {
    filter: invert(1);
}

.reverse_invert_color {
    filter: invert(0);
}
.shrinkIntro {
    position: static;
}
.stars5 {
    text-align: center;
    font-size: 6em;
}

.introHeaderText {
    color: cornsilk;
    font: 2em "Verdana";
    line-height: .5em;
    margin-left: 10px;
}

.introHeader {
    color: black;
    text-align: center;
    justify-items: center;
    background-image: linear-gradient(to bottom right,rgba(212, 190, 190, 0.418), rgba(255, 255, 255, 0.788), rgba(209, 184, 184, 0.418),
                        rgba(255, 255, 255, 0.788), rgba(223, 202, 202, 0.418), rgba(255, 255, 255, 0.788),rgba(177, 149, 149, 0.418), rgba(255, 255, 255, 0.788)
                        ,rgba(211, 188, 188, 0.418), rgba(255, 255, 255, 0.788),rgba(202, 179, 179, 0.418), rgba(255, 255, 255, 0.788));
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1.5fr .5fr .8fr 4fr;
}

@keyframes appear { /* fade in */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.appear {
    animation-name: appear;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#welcomeText {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.185);
    line-height: 6rem;
    font-family: Verdana;
    font-size: 5rem;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2 / 3;
    width: 80%;
    text-align: center;
    margin-left: 0;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 1%;
    color:rgba(0, 0, 0, 0.836)
}


.successPage {
    display:none;
}

.navbar {
    top: 0;
    background-image: linear-gradient(75deg, #d45839, #c04b4b,#d45839, #c04b4b,#d45839, #c04b4b);
    position: sticky;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1;
    z-index: 10;

}

#introSignIn {
    grid-column-start: 7;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 60%;
    border-radius: 1em 1em 1em 1em;
    border-color: rgb(221, 90, 90);
}

#introSignIn:hover {
    background-color: #c04b4b;
    color: whitesmoke;
}

#introABOUTUS {
    grid-column-start: 6;
    grid-column-end: 7;
    text-align: end;
    align-self: center;
}

#aboutUs {
    color: rgba(80, 13, 80, 0.479);

}

#aboutUs:hover {
    color: rgba(255, 255, 255, 0.61);
}

#welcomeText1 {
    line-height: 1.2em;
    font-family: Verdana;
    font-size: 2.5em;
    font-weight: bold;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-indent: 3%;
    margin: 5%;
    color: whitesmoke;
}
#here {
    color: rgb(43, 43, 204);
}

#here:hover {
    color:rgba(211, 211, 211, 0.527);
}

#checkForYourself {
    color: whitesmoke;
    font-size: 1.1em;
    grid-row: 1/2;
    grid-column: 3/5;
    font-family: Verdana;
    font-weight: none;
    text-align: start;
    width: 60%;
}

.newSection {
    background-color: rgba(44, 44, 37, 0.705);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template: 1fr 2fr / 1fr 1fr 1fr 1fr;
}

#newSectionPart2 {
    grid-row: 2/3;
    grid-column:1/5;
    background-color: rgba(184, 26, 26, 0.096);
}
/* INTRO PAGE */
.welcomePage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15fr 15fr;
}

#introText {
    opacity: 0;
    grid-column:  2/ 3;
    grid-row: 2 / 3;
    width: 40%;
    align-self: center;
    margin: 0;

}

#secondaryIntroText {
    opacity: 0;
    margin: 0;
    align-self: center;
}

h2 {
    font: 1em "Verdana";
    margin-left: 10px;
    line-height: .5em;
}

#startBTN { /* gonna have to figure out resizing*/
    opacity: 0;
    font-size: 2em;
    font-family: Verdana;
    background-image: linear-gradient(135deg,  #c24829c9, #7f1ce352);
    border: none;
    border-radius: 3rem;
    line-height: 2em;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
}

#msgDemo {
    opacity: 0;
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
}

#startBTN:hover {
    background-image: linear-gradient(135deg, #c24829a4, #7f1ce32f);
    color: whitesmoke;
}

#registerBTN {
    font-family: Verdana;
    margin-left: 10px;
}

.loginPage {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 5fr 3fr;
    font: 1.2em Verdana;
    
}

#err1 {
    grid-row: 1 / 2;
}

#existUsername {
    grid-row: 3/4;
    line-height: 1.8em;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
}

#eU {
    grid-row: 2/3;
    align-self: end;
}
#eP {
    grid-row: 4/5;
    align-self: end;
}
#existPass {
    grid-row: 5/6;
    line-height: 1.8em;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
}

#goToRegister {
    grid-row: 7/8;
}

#confirmBtn1 {
    grid-row: 6/7;
    line-height: 1.2em;
    font-family: Verdana;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
    border-width: 0;
}


.greyBack {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgba(128, 128, 128, 0.603);
    align-items: center;
    justify-items: center;
    display:grid;
}

.greyBack1 {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgba(128, 128, 128, 0.603);
    display: grid;
    justify-items: center;
    align-items: center;

    

    
}
/* REGISTER PAGE HRE */
.regPage {
    display:none;
}

#err2 {
    grid-row: 1 / 2;
}

#nUsername {
    grid-row: 3/4;
    line-height: 1.8em;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
}


#nP {
    grid-row: 4/5;
    align-self: end;
}

#rNP {
    grid-row: 6/7;
}
#nPass {
    grid-row: 5/6;
    line-height: 1.8em;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
}
#rNPass {
    grid-row: 7/8;
    line-height: 1.8em;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
}

#goToLogin {
    grid-row: 9/10;
}

#confirmBtn2 {
    grid-row: 8/9;
    line-height: 1.2em;
    font-family: Verdana;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
    border-width: 0;
}
p {
    font: 1em "Verdana";
    margin-left: 10px;
}


/* MESSAGE PAGE */
.sidePanelFriends h2 {
    font: 1.3em "Verdana";
    text-align: center;
    line-height: .5em;
}

.mainPageContainer {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 10fr .7fr;
    grid-template-areas:
        "header header header"
        "sidebar main sidebar"
        "footer footer footer";
    background-color: rgba(238, 230, 230, 0.664);
    column-gap: 5px;
    row-gap: 5px;
}

.messageBoxes {
    background-image: var(--background);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr;
    
}

.aMessageBoxFrom { /*item of  grid */
    color: black;
    font: 1em "Verdana";
    text-align: center;
    place-self: end end;
    background-image: var(--box);
    border-radius: 6px 6px 6px 6px;
    margin-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;

}

.aMessageBoxTo {
    color: black;
    font: 1em "Verdana";
    text-align: center;
    place-self: start start;
    background-image: var(--box);
    border-radius: 6px 6px 6px 6px;
    margin-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;
}

.addFriendBox {
    position: absolute;
    z-index: 1;
    width: 7%;
    height: 3%;
}
.talkingTo {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: var(--box);
    border-radius: 1px;
    font: 1.4em Verdana;
    text-align: end;
    right: 1%;
    display: grid;
    align-items: center;

}

.messageHistory {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: -.3em;
    overflow: auto;
}

.options {
    grid-column: 7/8;
    grid-row: 1/2;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
}

#logout {
    height: 55%;
    width: 92%;
    margin-left: 5px;
    grid-row: 1/2;
    grid-column: 4/5;
    font-family: Verdana;
    font-size: 1em;
    background-color: rgb(226, 161, 161);
    border-radius: 50% 50% 50% 0%;
}

#logout:hover {
    height: 58%;
    width: 93%;
}

#settings {
    background-color:rgb(39, 36, 36, 0);
    border: none;
    font-size: 2em;
    grid-column: 2/3;
    height: 70%;
    width: 90%;
    justify-self: center;
    align-self: center;
    filter: invert(.8);
    transform: translateY(-5%);
    
}
#settings:hover {
    font-size: 2.1em;
}

#switchmodes {
    height: 40%;
    width: 65%;
    padding: 0;
    border-radius: 50% 50% 50% 50%;
    background-image: linear-gradient(to right, rgb(36, 33, 33) 50%, rgb(245, 237, 237) 50%);
    grid-column: 3/4;
    text-align: center;
    border-color: whitesmoke;
    font-family: Verdana;
    font-size: 1rem;
    grid-row: 1/2;
    color:rgb(39, 36, 36, 0);
    
}

#switchmodes:hover {
    height: 43%;
}


#alerts {
    background-color:rgba(54, 6, 56, 0);
    border: none;
    font-size: 1.5em;
    
    min-height: 55%;
    width: 90%;
    
}

@keyframes shake {
    from {
        top: 40%;
        transform: rotate(1deg);
    }
    20% {
        top: 40%;
        transform: rotate(20deg);
    }
    40% {
        top: 40%;
        transform: rotate(-20deg);
    }
    40%, 100% {
        top: 40%;

    }
}

.notification {
    animation-name: shake;
    animation-duration: 1.2s;
    animation-iteration-count:infinite;
    animation-delay: 1s;
    animation-play-state:running;
    animation-fill-mode: none;
    filter:hue-rotate(300deg)
}


.dropdown {
    position: relative;
    display: inline-block;
    height: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    vertical-align: middle;
}

#alerts:hover {
    font-size: 1.6em;
}

.friendRequestMessage {
    background-image: var(--box);
    max-width: 95%;
    width: 95%;
    min-height: 20%;
    max-height: 20%;
    border-width: 2px;
    border:#c04b4b;
    margin: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 1fr;
    
    
}

.friendRequestMessage > button {
    background-color:#c2482900;
}

.standardMsg {
    font: .8em Verdana;
    width: 95%;
    max-width: 95%;
    min-height: 20%;
    max-height: 20%;
    word-wrap: break-word;
}
.subMessage {
    word-wrap: break-word;
    overflow: auto;
    text-indent: 5px;
    font: .8em Verdana;
    color:antiquewhite;
    grid-row: 1/2;
    grid-column: 1/3;
    border:none;
}

.check {
    border-bottom: rgba(29, 27, 27, 0.685);
    border-left: rgba(29, 27, 27, 0.685);
    border-color: rgba(29, 27, 27, 0.685);
    border-width: 1px;
}

.check:hover {
    background-color: rgba(238, 232, 225, 0.699);
}

.X {
    border-bottom: none;
    border-right: none;
    border-color:rgba(29, 27, 27, 0.685);
    border-width: 1px;
}
.X:hover {
    background-color: rgba(243, 237, 229, 0.685);
}

#alertsDropDown {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(241, 233, 233, 0.993);
    left: -80%;
    min-width: 405%;
    max-width: 405%;
    max-height: 550%;
    min-height: 550%;
    overflow: auto auto;
    transform: translateY(5%);
}

.textBox {
    background-color: lightgray;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
    font-size: 14pt;

    
}

#textbox {
    width: 99%;
    height: 80%;
    margin: 5px 5px 5px 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font: 1.4em "Verdana";
    color: dimgray;
    overflow-x: scroll;
    
}


.sidePanelSuggestions {
    background-color: rgba(165, 148, 148, 0.226);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 16fr;
    overflow: auto;
    
}

.suggestionBox {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    row-gap: .5%;
}

.aSuggestionBox {
    background-color:blanchedalmond;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    margin-top: 10px;
    margin-bottom: 0;
    height:100%;
    border-radius: 10px 10px 10px 10px;
    text-indent: 3%;
    line-height: 1.7em;
}

.aSuggestionBox:hover {
    background-color: white;
}

.sidePanelFriends {
    background-color: rgba(165, 148, 148, 0.226);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
}

#friendBox {
    overflow: auto;
    display: block;
    height: 90%;
}
.aFriendPanel {
    background-color: blanchedalmond;
    border-radius: 10px 10px 10px 10px;
    line-height: 1.7em;
    text-indent: 3%;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 1%;
    margin-left: 1%;
    height: 10%;
    width: 96%;
    font: 'Verdana 1.2em';
}

.aFriendPanel:hover {
    background-color: white;
}
.contact {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: linear-gradient(135deg, lightgray, whitesmoke, lightgray);
    padding: 0;
    display: flex;
}

.contact > div > h5 {
    font: .7em Verdana;
    color:rgba(17, 15, 15, 0.836);
    font-style: oblique;
    margin: 1%;
    margin: 0px 0px 0px 0px;
    text-align: end;
    right: 1%;
    align-self: center;
}

.contact > div > h4 {
    text-align: end;
    text-decoration: underline;
    align-self: center;
    margin: 0;
}

#user {
    text-align: left;
    width: 50%;
    margin: 0;
    display: inline-block;
    align-self: center;
    text-indent: 5%;

}

.searchBar {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgba(133, 116, 116, .226);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    font: 1.4em Verdana;
    text-align: center;
}

.hey {
    margin: 0;
}

#search {
    width: 90%;
    border-radius: 5px 5px 5px 5px;
    height: 53%;
    font: 1.2em "Verdana";
    color: dimgray;
    align-self: center;

}

#change {
    align-self: center;
    height: 60%;
    
    
}

.topMainPage {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}



html, body, div{
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
    min-zoom: 100%;
}
